{%block form%}
    {{ form_start(form, {attr: {role: 'form'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{%endblock form%}


{%block form_row%}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {attr: {class: 'form-control'}}) }}
    </div>
{%endblock form_row%}
    
{%block button_row%}
    <div class="form-group">
        {{ form_widget(form, {attr: {class: 'btn btn-default'}}) }}
    </div>
{%endblock%}