<header role="banner" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
    <div class="container col-md-10">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://symfony.com/"><img style="height:18px;" src="{{asset('apple-touch-icon.png')}}" /></a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="{{path('@BackendHome')}}">Home</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                {%if is_granted('ROLE_CATEGORY')%}
                <li>
                    <a href="{{path('category')}}">Category</a>
                </li>
                {%endif%}
                {%if is_granted('ROLE_POST')%}
                <li>
                    <a href="{{path('post')}}">Post</a>
                </li>
                {%endif%}
                {%if is_granted('ROLE_SUPER_ADMIN')%}
                <li>
                    <a href="{{path('user')}}">User</a>
                </li>
                {%endif%}
            </ul>
        </nav>
    </div>
    <div class="container col-md-2">
        <nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="{{path('fos_user_security_logout')}}">Logout {{app.user.username}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>