{%extends "WorkshopBackendBundle:Layout:bootstrapLayout.html.twig"%}

{% block main %}
<h1>User list</h1>

<table class="records_list table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Lastlogin</th>
            <th>Locked</th>
            <th>Expired</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.username }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.enabled }}</td>
            <td>{% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.locked }}</td>
            <td>{{ entity.expired }}</td>
            <td><ul class="list">{%for role in entity.roles %}<li>{{role}}</li>{%endfor%}</ul></td>
            <td>{{ entity.credentialsExpired }}</td>
            <td>
                <ul class="list list-inline">
                    <li>
                        <a href="{{ path('user_show', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i> Show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="list list-inline">
    <li>
        <a href="{{ path('user_new') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-plus-sign"></i> Create a new entry
        </a>
    </li>
</ul>
    {% endblock %}
